:root{
    --background-color: #344a72;
    --primary-color: #333;
    --secondary-color: #fff;
}

body{
    background: var(--background-color);
}

.icon-logo{
    color: var(--primary-color);
    background: var(--secondary-color);
    border-radius: 5rem;
    padding: 0.5rem;
}

thead{
    cursor: pointer;
}